.box-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap;
    /* flex-direction: column; */ /* Remove this line */
    padding: 10px 20px;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1700px; /* Set a maximum width to limit the container size */
  }
 .box-container .box{
      width:27rem;
      margin: 4rem 4rem;
      padding-left: 4rem;
      border-left: .2rem solid #fff;
      position: relative;
  }
  
.box-container .box span{
      font-size: 1.3rem;
      background:#222;
      border:2px solid #007ACC;
      color:#fff;
      border-radius: 5rem;
      padding:.5rem 2.5rem;
  }
  
   .box-container .box h3{
      font-size: 1.5rem;
      color:#fff;
      padding-top: 1.5rem;
  }
  
 .box-container .box p{
      font-size: 1.4rem;
      color:#eee;
      padding: 1rem 0;
  }
  
 .box-container .box i{
      position: absolute;
      top:-2rem; 
      left:-2rem;
      height:4rem;
      width: 4rem;
      border-radius: 50%;
      line-height: 5rem;
      text-align: center;
      font-size: 3rem;
      color:#fff;
      background:#007ACC;
  }
img {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      
  }
  
  .imagess:hover {opacity: 0.7;}
  /* img:hover {
    transform: scale(1.1); */

/* Modal Styles */
#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: #8b0808;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    font-weight: bolder;

  }
  
  .modal-content {
    
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 95%;
    max-height: 95%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    display: block;
  }
