footer {
      margin: 20px 0px 0px;
      background-color: #000000;
      padding: 20px;
      text-align: center;
    }
    
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    
.footer {
      margin: 0;
      color: #f6f6f6;
    }